ipython
pytest
python-dateutil
pyyaml
pytz
uvloop
jinja2
python-rapidjson
aiohttp==3.6.2
bcrypt
inflect
beautifulsoup4
astor
webcolors
colormath
yapf
faker
jsbeautifier
mistune==2.0.0rc1
python-dateutil
